.circle {
    -webkit-clip-path: circle(50% at 50% 50%);
    -moz-clip-path: circle(50% at 50% 50%);
    -ms-clip-path: circle(50% at 50% 50%);
    -o-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    max-width: 50%;
}

.widget-profile .widget__content {
    text-align: center;
}

.profile-name {
    margin-top: 10px;
}

.postbox {
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}
